.Nav {
    background-color: #C70404;
    text-align: left;
    display: flex;
    padding-left: 1%;
}

.nama {
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.nama:hover {
    background-color: #AA0203;
}

.dalam {
    width: 90%;
}

.cari {
    width: 10%;
}